<html>
<head>
  <meta charset="utf-8">
  <title>ТелеГА</title>
  <link rel="icon" type="image/png" href="/static/img/telega-icon.png">
  <link rel="stylesheet" type="text/css" href="/static/telega.css">
  <script type="text/javascript" src="//yastatic.net/angularjs/1.3.16/angular.min.js"></script>
  <script type="text/javascript" src="/static/app.js"></script>
  <script type="text/javascript">
    pageInfo = PAGE_INFO_PLACEHOLDER;
  </script>
</head>
<body ng-app="telega">
  <div ng-controller="TabsController as tabs">
    <div>
      <img src="/static/img/_telega.png">
      <div class="title">ТелеГА</div>
    </div>
    <div ng-repeat="tab in tabs.tabs" class="tab current-{{ tab._current }}">
      <a href="/{{ tab.link }}/" ng-bind="tab.name"></a>
    </div>
  </div>
  <table ng-controller="TableController as table" class="data-table">
    <thead>
      <th>№</th>
      <th ng-repeat="column in table.columns" ng-bind="column.title"></th>
    </thead>
    <tr ng-repeat="row in table.rows" ng-class="{'highlighted': row._highlighted}" class="{{ row._class }}">
      <td><span ng-bind="row._index"></span></td>
      <td ng-repeat="column in table.columns" class="sending-{{ row[column.name].sending }}" ng-dblclick="table.openEditor(column, row)">
        <span ng-hide="row[column.name].edit" ng-bind="row[column.name].value"></span>
        <img ng-if="column.editable" ng-show="row[column.name].sending" src="/static/img/wait-small.gif">
        <form name="cellForm" ng-if="column.editable" ng-show="row[column.name].edit" ng-submit="table.postChanges(cellForm, column, row)" novalidate>
          <input ng-model="row[column.name].value" ng-pattern="column.pattern" ng-keydown="table.catchEscape($event, column, row)">
          <div ng-if="column.hint" class="hint" ng-bind="column.hint"></div>
        </form>
      </td>
    </tr>
    <tr ng-if="table.loading"><td colspan="{{ table.columns.length }}">
      <img src="/static/img/wait-big.gif">
    </td></tr>
  </table>
</body>
</html>
