@mixin load-font($font) {
    @if $font == 'Simple Iriska' {
        font-family: 'Simple Iriska';
        src: url(/static/fonts/SimpleIriska.ttf);
    }
    @if $font == 'Beer Money' {
        font-family: 'Beer Money';
        src: url(/static/fonts/beer_money.ttf);
    }
    @if $font == 'Voronov' {
        font-family: 'Voronov';
        src: url(/static/fonts/voronov.ttf);
    }
}
