@keyframes load {
    0% { left: -18.75%; }
    100% { left: -6.25%; }
}

@mixin loading-bar($size, $period, $color) {
    display: inline-block;
    position: relative;
    width: (6 * $size);
    height: $size;
    border: solid gray 1px;
    border-radius: ($size / 3);
    overflow: hidden;

    &:after {
        position: absolute;
        width: 125%;
        height: 100%;
        background: repeating-linear-gradient(to right,
            transparent 0%,
            transparent 4%,
            $color 6%,
            $color 8%,
            transparent 10%
        );
        content: '';
        transform: skewX(-30deg);
        animation: load $period infinite linear;
    }
}
