@keyframes ripple {
    0% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
    }
    33% {
        top: 28%;
        left: 28%;
        width: 44%;
        height: 44%;
        opacity: 1;
    }
    100% {
        top: 6%;
        left: 6%;
        width: 88%;
        height: 88%;
        opacity: 0;
    }
}

@mixin ripple($size, $period, $color1, $color2) {
    position: relative;
    width: $size;
    height: $size;
    background: none;

    &:before, &:after {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        border: black solid ($size / 10);
        content: '';
        opacity: 0;
        animation: ripple $period ease-out infinite;
    }
    &:before {
        border-color: $color1;
    }
    &:after {
        border-color: $color2;
        animation-delay: ($period / 2);
    }
}
