@keyframes ripple {
    0% {
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
    }
    33% {
        top: 28%;
        left: 28%;
        width: 44%;
        height: 44%;
        opacity: 1;
    }
    100% {
        top: 6%;
        left: 6%;
        width: 88%;
        height: 88%;
        opacity: 0;
    }
}

div.ripple {
    position: relative;
    width: 32px;
    height: 32px;
    background: none;

    &:before, &:after {
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        border: black solid 3px;
        content: '';
        opacity: 0;
        animation: ripple 2s ease-out infinite;
    }
    &:before {
        border-color: #D3ADDF;
    }
    &:after {
        border-color: #80AAF3;
        animation-delay: 1s;
    }
}
