@import 'ripple';
@import 'loading-bar';
@import 'fonts';

$telega-font: 'Voronov';
@font-face {
    @include load-font($telega-font);
}

* {
    box-sizing: border-box;
}
body {
    margin-left: 12em;
    background-color: #EEEEEE;
    font-size: 12pt;
}
div.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #AAAAAA;
    text-align: right;

    div.header {
        margin: 0.33333em 0;
        text-align: center;
        font: 3em $telega-font;

        div.title {
            position: relative;
            top: -0.23333em;
            transform: rotateZ(-7deg);
        }
    }
    div.tab {
        padding: 0.33333em 1em 0.33333em 1.33333em;
        color: #FFFFFF;
        font-size: 1.5em;
        cursor: pointer;

        &.current-true { color: #FFFF00; }
        &:hover {
            text-shadow: 0 0 0.46em #FFFF00;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}
table.data-table {
    td.loading-bar { text-align: center; }
}
div.loading-bar {
    @include loading-bar(1.5em, 1s, #57F78C);
}
div.ripple {
    @include ripple(1em, 2s, #D3ADDF, #80AAF3);
}
